{% extends "base.html" %}

{% block doctype %}
    {# OpenLayers doesn't like DOCTYPE declaration. #}
{% endblock %}

{% block styles %}
    <link type="text/css" href="/events/esco-2010/media/css/openlayers/OpenLayers.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key={{ key }}" type="text/javascript"></script>

    <script src="/events/esco-2010/media/js/jquery/jquery-1.3.2.min.js"></script>

    <script src="/events/esco-2010/media/js/openlayers/OpenLayers.js"></script>
    <script src="/events/esco-2010/media/js/openlayers/OpenStreetMap.js"></script>

    <script src="/events/esco-2010/media/js/map.js"></script>
{% endblock %}

{% block content %}
    <h2>Accomodation</h2>

    <p class="text">
        A limited number of rooms has been reserved in the <a href="http://www.angelo-pilsen.cz/">Angelo Pilsen</a>
        hotel across the street from the Pilsner Urquell Brewery, at a special conference price of 49 EUR single room
        and 58 EUR two bed room (including breakfast). Please mention that you belong to the ESCO 2010 conference while
        making a reservation. Alternatively, accommodation is possible in the
        <a href="http://www.marriott.com/hotels/travel/prgpz-courtyard-pilsen/">Mariott Courtyard Pilsen</a>
        and many other hotels in Pilsen.
    </p>

    <div id="map"></div>
{% endblock %}

