{% extends "small-form.html" %}

{% block header %}
Login to ESCO 2010 Website
{% endblock %}

{% block error-text %}
Wrong login or password. Please try again.
{% endblock %}

{% block form-message %}
    {% if registred %}
    <div class="message success">
        New account created. You can login now.
    </div>
    {% endif %}
{% endblock %}

{% block submit %}
<button type="submit">Log In</button>
{% endblock %}

{% block epilog %}
<div class="center">
    <a href="/events/esco-2010/account/create/">Create account</a>
    <span class="bar color">|</span>
    <a href="/events/esco-2010/account/password/remind/">Forgot your password?</a>
</div>
{% endblock %}

