
div.box {
    margin-top: 5px;
    border: 1px solid #254b6f;
    background-color: #ebf5ff;
}

div.box div.title {
    color: #ffffff;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    border: 1px solid #254b6f;
    background-color: #254b6f;
}

div.box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.box li {
    padding: 4px 8px 4px 8px;
}

div.box li.head {
    font-weight: bold;
    font-size: 9pt;
    color: #254b6f;
}

div.box li.tail {
    font-size: 8pt;
}

div.box div.image {
    text-align: center;
}

div.box span.caption {
    border-top: 1px dashed #254b6f;
    text-align: center;
    padding: 4px 8px;
    display: block;
    font-size: 8pt;
    color: #254b6f;
}

