
body {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    color: black;
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin-top: 0;
}

h1, h2, h3  {
    text-align: center;
    color: #254b6f;
}

h4 {
    text-align: left;
    color: #254b6f;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #254b6f;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.color {
    color: #254b6f;
}

.cleaner {
    clear: both;
}

#container {
    margin: 10px auto;
    width: 970px;
}

.bar {
    margin-right: 5px;
    margin-left: 5px;
}

/* HEADER */

#header {
    background-color: #254b6f;
}

#banner {
    width: 970px;
    height: 82px;
    border-bottom: 1px solid #ffffff;
    background-image: url('/events/esco-2010/media/img/banner.jpg');
}

#auth {
    font-weight: bold;
    padding: 4px 8px;
    color: #ffffff;
    float: right;
}

#auth a {
    color: #dddddd;
}

/* CENTER */

#center {
    overflow: hidden;
}

.panel {
    overflow: hidden;
    display: inline;
    width: 13em;
}

#left-panel {
    float: left;
    font-size: 11pt;
}

#right-panel {
    float: right;
    font-size: 11pt;
}

#content {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 1em;
    margin-right: 13em;
    margin-left: 13em;
}

/* MENUS */

.title {
    color: #ffffff;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    border: 1px solid #254b6f;
    background-color: #254b6f;
}

.box {
    padding-top: 10px;
}

.note {
    border: 1px solid #254b6f;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note li {
    background-color: #ebf5ff;
    padding: 4px 8px 4px 8px;
}

li.head {
    font-weight: bold;
    font-size: 90%;
    color: #254b6f;
}

li.tail {
    text-align: center;
    font-size: 80%;
}

li.left {
    text-align: left;
}

/* CONTENTS */

.text {
    text-align: justify;
}

table.payment {
    border-collapse: collapse;
    border: 1px solid #254b6f;
    margin: 0 auto;
}

table.payment thead {
    background-color: #254b6f;
    font-weight: bold;
    color: #ffffff;
}

table.payment tbody {
    background-color: #ebf5ff;
}

table.payment td {
    padding: 4px 8px 4px 8px;
}

table.payment tbody tr:hover {
    background-color: #a0bbd4;
}

/* MESSAGES */

.message {
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 10px;
    width: 26em;
}

.error {
    background-color: #ffebe8;
}

.message.error {
    border: 1px solid #cc0000;
}

.warning {
    background-color: #ffeed4;
}

.message.warning {
    border: 1px solid #f86a04;
}

.success {
    background-color: #d7f8c7;
}

.message.success {
    border: 1px solid #00ee00;
}

/* ACCOMMODATION */

#map {
    width: 100%;
    height: 400px;
}

/* ABSTRACTS */

table.abstracts {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    margin-bottom: 5px;
    color: #777777;
    table-layout: fixed;
}

table.abstracts th {
    text-align: left;
    color: #254b6f;
    padding: 5px 10px;
    margin: 0;
    width: 7em;
}

table.abstracts td {
    padding: 5px 0;
    margin: 0;
}

table.abstracts th.bar {
    height: 5px;
    padding: 0;
    background-color: #ffffff;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

table.abstracts td.bar {
    height: 5px;
    padding: 0;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.button {
    background-color: #254b6f !important;
    border: 1px solid #254b6f !important;
    color: #ffffff !important;
    outline: none;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 1em;
}

.button:hover {
    text-decoration: none;
}

.abstract-box {
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    margin-bottom: 5px;
    padding: 4px 8px;
}

