
body {
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 12pt;
    color: black;
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin-top: 0;
}

h1, h2, h3  {
    text-align: center;
    color: #254b6f;
}

h4 {
    text-align: left;
    color: #254b6f;
}

a:link, a:active, a:visited {
    text-decoration: none;
    color: #254b6f;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

.cleaner {
    clear: both;
}

#container {
    margin: 10px;
}

.bar {
    margin-right: 5px;
    margin-left: 5px;
}

/* HEADER */

#header {
    background-color: #254b6f;
}

#banner {
    height: 100px;
    background-color: #254b6f;
    border-bottom: 1px solid #ffffff;
}

#status a {
    color: #dddddd;
}

#status div {
    color: #ffffff;
    padding: 4px 8px 4px 8px;
}

#site {
    float: left;
}

#user {
    float: right;
}

/* CENTER */

#center {
    overflow: hidden;
}

.panel {
    overflow: hidden;
    display: inline;
    width: 13em;
}

#left-panel {
    float: left;
}

#right-panel {
    float: right;
}

#content {
    padding-right: 0.8em;
    padding-left: 0.8em;
    padding-top: 1em;
    margin-right: 13em;
    margin-left: 13em;
    font-size: 13pt;
}

/* MENUS */

.title {
    color: #ffffff;
    font-weight: bold;
    padding: 4px 8px 4px 8px;
    border: 1px solid #254b6f;
    background-color: #254b6f;
}

.box {
    padding-top: 10px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    cursor: pointer;
    border-left: 1px solid #254b6f;
    border-right: 1px solid #254b6f;
    border-bottom: 1px solid #254b6f;
    background-color: #ebf5ff;
    padding: 4px 8px 4px 8px;
}

.menu li:hover {
    background-color: #a0bbd4;
}

.menu li a {
    color: #254b6f;
    display: block;
    text-decoration: none;
}

.note {
    border: 1px solid #254b6f;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.note li {
    background-color: #ebf5ff;
    padding: 4px 8px 4px 8px;
}

li.head {
    font-weight: bold;
    font-size: 90%;
    color: #254b6f;
}

li.tail {
    text-align: center;
    font-size: 80%;
}

/* CONTENTS */

.text {
    text-align: justify;
}

table {
    border-collapse: collapse;
    border: 1px solid #254b6f;
    margin: 0 auto;
}

thead {
    background-color: #254b6f;
    font-weight: bold;
    color: #ffffff;
}

tbody {
    background-color: #ebf5ff;
}

td {
    padding: 4px 8px 4px 8px;
}

tbody tr:hover {
    background-color: #a0bbd4;
}

/* FOOTER */

/* COMMON */

form div input {
    background-color: #fbfbfb;
    border: 1px solid #e5e5e5;
    font-size: 16px;
    width: 100%;
}

form div input:hover {
    background-color: #f5f5f5;
}

input[type="submit"] {
    background-color: #254b6f;
    border: 1px solid #254b6f;
    color: #ffffff;
    border: none;
    font-weight: bold;
    font-size: 16px;
    padding: 3px 1em;
}

input[type="submit"]:hover {
    background-color: #37648e;
}

#message-box {
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 10px;
    width: 26em;
}

.error {
    background-color: #ffebe8;
    border: 1px solid #cc0000;
}

.warning {
    background-color: #ffeed4;
    border: 1px solid #f86a04;
}

.success {
    background-color: #d7f8c7;
    border: 1px solid #00ee00;
}

/* LOGIN */

#login-form {
    margin: 0 auto;
    width: 23em;
}

#login-form form {
    border: 1px solid #e5e5e5;
    padding: 10px 20px;
}

#login-form form div {
    color: #777777;
}

#login-form form div input {
    margin: 5px 0 10px 0;
}

#login-form form div img {
    margin-bottom: -5px;
}

/* REGISTRATION */

#register-form {
    margin: 0 auto;
    width: 23em;
}

#register-form form div {
    border: 1px solid #e5e5e5;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #777777;
}

#register-form form div span {
    font-size: 70%;
}

#register-form form div input {
    margin-top: 5px;
}

#register-form form div img {
    margin-bottom: -5px;
}

