
/* BASIS */

body, html {
    background: #dcdcdc url('/events/esco-2010/media/img/background.gif') repeat-y scroll center top;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: normal;
    font-weight: normal;
    font-style: normal;
    font-size: 10pt;
    color: black;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

h1, h2 {
    margin-top: 0;
}

h1, h2, h3  {
    text-align: center;
    color: #254b6f;
}

h4 {
    text-align: left;
    color: #254b6f;
}

/* LINKS */

a:link, a:active, a:visited {
    text-decoration: none;
    color: #254b6f;
    outline: none;
}

a:hover {
    text-decoration: underline;
}

/* GLOBALS */

.color {
    color: #254b6f;
}

.bar {
    margin-right: 5px;
    margin-left: 5px;
}

/* LAYOUT */

#container {
    position: relative;
    min-height: 100%;
    overflow: hidden;
    margin: 0 auto;
    width: 970px;
}

#header {
    background-image: url('/events/esco-2010/media/img/header.png');
    background-color: #ffffff;
    font-weight: bold;
    text-align: right;
    padding: 4px 8px;
    font-size: 10pt;
    color: #000000;
}

#header a {
    font-weight: normal;
    color: #254b6f;
}

#banner {
    background-image: url('/events/esco-2010/media/img/banner2.png');
    width: 970px;
    height: 82px;
}

#content {
    padding: 20px 20px 40px 20px;
    margin-right: 190px;
    margin-left: 190px;
    font-size: 11pt;
}

#footer {
    background-color: #a0bbd4;
    text-align: center;
    position: absolute;
    padding: 4px 8px;
    color: #254b6f;
    width: 100%;
    bottom: 0;
    left: 0;
}

/* CONTENTS */

#content > p {
    text-align: justify;
}

table.payment {
    border-collapse: collapse;
    border: 1px solid #254b6f;
    margin: 0 auto;
}

table.payment thead {
    background-color: #254b6f;
    font-weight: bold;
    color: #ffffff;
}

table.payment tbody {
    background-color: #ebf5ff;
}

table.payment td {
    padding: 4px 8px 4px 8px;
}

table.payment tbody tr:hover {
    background-color: #a0bbd4;
}

/* MESSAGES */

.message {
    margin: 0 auto 20px auto;
    text-align: center;
    padding: 10px;
    width: 26em;
}

.error {
    background-color: #ffebe8;
}

.message.error {
    border: 1px solid #cc0000;
}

.warning {
    background-color: #ffeed4;
}

.message.warning {
    border: 1px solid #f86a04;
}

.success {
    background-color: #d7f8c7;
}

.message.success {
    border: 1px solid #00ee00;
}

/* ACCOMMODATION */

#map {
    width: 100%;
    height: 400px;
}

/* ABSTRACTS */

table.abstracts {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    margin-bottom: 5px;
    color: #777777;
    table-layout: fixed;
}

table.abstracts th {
    text-align: left;
    color: #254b6f;
    padding: 5px 10px;
    margin: 0;
    width: 7em;
}

table.abstracts td {
    padding: 5px 0;
    margin: 0;
}

table.abstracts th.bar {
    height: 5px;
    padding: 0;
    background-color: #ffffff;
    border-left: 1px solid #ffffff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

table.abstracts td.bar {
    height: 5px;
    padding: 0;
    background-color: #ffffff;
    border-right: 1px solid #ffffff;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.abstract-box {
    border: 1px solid #e5e5e5;
    background-color: #fbfbfb;
    margin-bottom: 5px;
    padding: 4px 8px;
}

