{% extends "base.html" %}

{% block doctype %}
    {# OpenLayers doesn't like DOCTYPE declaration. #}
{% endblock %}

{% block styles %}
    <link type="text/css" href="/esco/media/css/openlayers/OpenLayers.css" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAnXqkzqry3G9LHI_IoV1FVRSgW3wqcIyZiRDg3RFDwmj2dRf9tRQUllugYY9w9xpAMtbLuSXfBM8Xog" type="text/javascript"></script>

    <script src="/esco/media/js/jquery/jquery-1.3.2.min.js"></script>

    <script src="/esco/media/js/openlayers/OpenLayers.js"></script>
    <script src="/esco/media/js/openlayers/OpenStreetMap.js"></script>

    <script src="/esco/media/js/map.js"></script>
{% endblock %}

{% block location %}
    <span class="location">
        &raquo; <a href="/esco/accommodation/">Accommodation</a>
    </span>
{% endblock %}

{% block content %}
<h2>Accomodation</h2>

<p class="text">
    A limited number of rooms has been reserved in the <a href="http://www.angelo-pilsen.cz/">Angelo Pilsen</a>
    hotel across the street from the Pilsner Urquell Brewery, at a special conference price of 49 EUR single room
    and 58 EUR two bed room (including breakfast). Please mention that you belong to the ESCO 2010 conference while
    making a reservation. Alternatively, accommodation is possible in the
    <a href="http://www.marriott.com/hotels/travel/prgpz-courtyard-pilsen/">Mariott Courtyard Pilsen</a>
    and many other hotels in Pilsen.
</p>

<div id="map"></div>
{% endblock %}

