{% extends "base.html" %}

{% block location %}
    <span class="location">
        &raquo; <a href="/esco/accommodation/">Accommodation</a>
    </span>
{% endblock %}

{% block content %}
<h2>Accomodation</h2>

<p class="text">
    A limited number of rooms has been reserved in the <a href="http://www.angelo-pilsen.cz/">Angelo Pilsen</a>
    hotel across the street from the Pilsner Urquell Brewery, at a special conference price of 49 EUR single room
    and 58 EUR two bed room (including breakfast). Please mention that you belong to the ESCO 2010 conference while
    making a reservation. Alternatively, accommodation is possible in the
    <a href="http://www.marriott.com/hotels/travel/prgpz-courtyard-pilsen/">Mariott Courtyard Pilsen</a>
    and many other hotels in Pilsen.
</p>
{% endblock %}

