<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>ESCO 2010 - 2nd European Seminar on Coupled Problems</title>
        <link type="text/css" href="/esco/media/css/style.css" rel="stylesheet" />
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
    </head>
    <body>
        <div id="container">
            <div id="header">
                <div id="banner">
                    <!-- TODO -->
                </div>
                <div id="status">
                    <div id="site">
                        <b>ESCO 2010 Conference Site:</b>
                        <span class="location">
                            &raquo; <a href="/esco/">Home Page</a>
                        </span>
                        {% block location %}
                        {% endblock %}
                    </div>
                    <div id="user">
                        <b><a href="/esco/login/">login</a></b>
                    </div>
                </div>
                <div class="cleaner"></div>
            </div>
            <div id="center">
                <div id="left-panel" class="panel">
                    <div class="box">
                        <div class="title">Main Menu</div>
                        <ul class="menu">
                            <li><a href="/esco/topics/">Conference Topics</a></li>
                            <li><a href="/esco/keynote/">Keynote Speakers</a></li>
                            <li><a href="/esco/committees/">Committees</a></li>
                            <li><a href="/esco/dates/">Important Dates</a></li>
                            <li><a href="/esco/venue/">Conference Venue</a></li>
                            <li><a href="/esco/payment/">Payment Information</a></li>
                            <li><a href="/esco/accommodation/">Accommodation</a></li>
                            <li><a href="/esco/travel/">Travel Information</a></li>
                        </ul>
                    </div>
                    <div class="box">
                        <div class="title">User Menu</div>
                        <ul class="menu">
                            <li><a href="/esco/profile/">Edit Profile</a></li>
                            <li><a href="/esco/abstracts/">My Abstracts</a></li>
                        </ul>
                    </div>
                </div>
                <div id="right-panel" class="panel">
                    <div class="box">
                        <div class="title">Contact</div>
                        <ul class="note">
                            <li class="head">E-mail:</li>
                            <li class="tail">esco2010-at-unr-dot-edu</li>
                            <li class="head">Fax:</li>
                            <li class="tail">1-775-784-6378</li>
                            <li class="head">Phone:</li>
                            <li class="tail">1-775-784-6773</li>
                            <li class="head">Mailing address:</li>
                            <li class="tail">ESCO 2010 Conference</li>
                            <li class="tail">Department of Mathematics and Statistics</li>
                            <li class="tail">University of Nevada, Reno</li>
                            <li class="tail">NV 89557&ndash;0084, USA</li>
                        </ul>
                    </div>
                </div>
                <div id="content">
                    {% block content %}
                    <h1>
                        ESCO 2010
                    </h1>
                    <h3>
                        2nd European Seminar on Coupled Problems
                        <br/>
                        June 28 &mdash; July 2, 2010, Pilsen, Czech Republic
                    </h3>
                    <p class="text">
                        <b>ESCO 2010</b> is an international workshop co&ndash;sponsored by the
                        <a href="http://www.unr.edu/">University of Nevada</a> (Reno),
                        <a href="http://www.it.cas.cz/en">Institute of Thermomechanics</a> (Prague),
                        <a href="http://www.zcu.cz/">University of West Bohemia</a> (Pilsen),
                        <a href="http://ntc.zcu.cz/en/index.html">New Technologies Research Centre</a> (Pilsen),
                        and <a href="http://www.imacs-online.org/">IMACS</a>.
                        The objective of the meeting is to advance the frontiers of computer modeling in
                        various areas of engineering and science, with special emphasis on multiphysics
                        coupled problems. Other focus areas include modern trends in scientific computing
                        such as computing with <a href="http://www.python.org">Python</a>, management of
                        open&ndash;source software projects, and dissemination of computational methods
                        to non&ndash;mathematicians.
                    </p>
                    <h3>Proceedings</h3>
                    <p class="text">
                        Selected refereed conference papers will be published as a special issue of
                        <a href="http://www.global-sci.com/">Communications in Computational Physics</a>
                        (CiCP) (2008 SCI impact factor 2.33).
                    </p>
                    {% endblock %}
                </div>
                <div class="cleaner"></div>
            </div>
        </div>
    </body>
</html>

