{% extends "base.html" %}

{% block location %}
    <span class="location">
        &raquo; <a href="/esco/dates/">Important Dates</a>
    </span>
{% endblock %}

{% block content %}
<h2>Important Dates</h2>

<ul>
    <li><b>December 15, 2009:</b> Abstract submission deadline.
        <p class="text" style="font-size: 100%">
            Please prepare a one-page abstract using this Latex template and Latex class
            file, and send it in the PDF format to the conference e-mail address.
        </p>
    </li>
    <li><b>January 15, 2010:</b> Notification of acceptance.</li>
    <li><b>March 15, 2010:</b> Early registration fee payment.</li>
    <li><b>September 30, 2010:</b> Paper submissions.</li>
</ul>
{% endblock %}

