{% extends "base.html" %}

{% block content %}
    <h2>Change Password</h2>

    <div id="register-form">
        <form method="post" action=".">
            {% for field in form %}
                {% if not user.is_authenticated or not forloop.first %}
                    <div
                        {% if field.errors %}
                            class="error"
                        {% endif %}
                    >
                        {{ field.label_tag }}
                        <br />
                        {{ field }}

                        {% if field.errors %}
                            {% for error in field.errors %}
                                <span><b>ERROR:</b> {{ error|escape }}</span>
                            {% endfor %}
                        {% else %}
                            <span>{{ field.help_text|safe }}</span>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <input type="submit" value="Change Password" />
        </form>
    </div>
{% endblock %}

