{% extends "base.html" %}

{% block location %}
    <span class="location">
        &raquo; <a href="/esco/payment/">Payment Information</a>
    </span>
{% endblock %}

{% block content %}
<h2>Payment Information</h2>

<p class="text">
    Registration fees for <b>ESCO 2010</b> conference are as follows:
</p>

<table class="payment">
    <thead>
        <tr>
            <td>Registration fee</td>
            <td>By March 15, 2010</td>
            <td>After March 15, 2010</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Regular participants</td>
            <td>350 EUR</td>
            <td>500 EUR</td>
        </tr>
        <tr>
            <td>Student participants</td>
            <td>250 EUR</td>
            <td>400 EUR</td>
        </tr>
        <tr>
            <td>Accompanying persons</td>
            <td>200 EUR</td>
            <td>250 EUR</td>
        </tr>
    </tbody>
</table>

<p class="text">
    The regular and student fees cover all conference materials, book of abstracts, conference lunches,
    coffee breaks, welcome reception, farewell party, and excursion. The accompanying person fee covers
    conference lunches, welcome reception, farewell party, and excursion. In order to qualify for the
    reduced student rate, a scanned copy of a valid student ID must be attached to the registration
    form and payment confirmation.
</p>
{% endblock %}

